.dashboard {
  height: 100vh;
  color: #333;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.headerMenu {
  background-image: url('../img/background-db.png');
  background-size: cover;
  background-position: center;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu .logo img {
  width: 100px;
  height: auto;
  align-items: center;
}

.body {
  background-color: white;
  flex: 1;
  padding: 20px;
  text-align: center;
}

.body h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.stats {
  text-align: left;
  margin-bottom: 20px;
}

.stats p {
  margin: 0;
}

.stats .number {
  font-size: 2em;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.button {
  background-color: #6c757d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 300px;
}

.button:hover {
  background-color: #495258;
}

.button.registro {
  background-color: #9E9E9E;
}

.button.gestion {
  background-color: #6b6a6a;
}

.button.reportes {
  background-color: #607D8B;
}

.button.bitacoras {
  background-color: #506650;
}

.footer-text {
  text-align: center;
  font-size: 0.9em;
  color: #888;
  margin-top: 20px;
}

.footer-text a{
  text-align: center;
}


.user-icon {
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.user-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
}

.user-menu.show {
  display: block;
}

.user-menu-item {
  padding: 10px 20px;
  cursor: pointer;
}

.user-menu-item:hover {
  background-color: #f0f0f0;
}

.url-caafi {
  position: fixed;
  bottom: 2px;
  align-self: center;
}