.container-stats {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
}

.report-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px;
    background-color: #6D6D6D;
    width: 100%;
    box-sizing: border-box;
}

.report-logo img {
    height: 90px;
}

.back-button {
    margin: 0;
}

.back-btn {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #000; 
    display: flex;
    align-items: left;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 0;
}

.tabs button {
    padding: 10px 20px;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.tabs .active {
    border-bottom: 2px solid #0D47A1;
    font-weight: bold;
}

.tab-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: calc(100% - 150px);
    overflow-y: auto;
    margin-top: 20px;
}

.tab-content .report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-content .report-container > div {
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
}

.tab-content label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.tab-content input {
    width: 100%;
    padding: 70px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.tab-content select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.consult-button {
    padding: 8px 16px;
    background-color: #5F6A7A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.consult-button:hover {
    background-color: #414852;
}

.buttons-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.cancel-button,
.download-button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px; 
}

.cancel-button {
    background-color: white;
    color: #183f7a;
    border: 1px solid #1c3253;
}

.download-button {
    background-color: #1c3253;
    color: white;
}

.cancel-button:hover {
    background-color: #f4f4f4;
}

.download-button:hover {
    background-color: #15263f;
}

.error-message {
    color: rgb(129, 38, 38);
    font-size: 14px;
    margin-bottom: 10px;
}

.inline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
}

.inline-container label {
    margin-right: 10px;
    font-size: 16px;
}

.inline-container input {
    margin-right: 10px;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

.inline-container .consult-button {
    padding: 10px 20px;
}
