html, body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
}

.grey-block {
  background-color: #6d6d6d;
  width: 100%;
  height: 100px;
}

.grey-block {
  display: flex;
  justify-content: space-between;
}

.grey-block img {
  display: block;
}

.grey-block .column-container {
  display: flex;
  flex-direction: column;
}

#caafi-logo{
  padding-left: 45px;
  width: 150px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#uv-title{
  position: absolute;
  top: 0;
  right: 45px;
  width: 200px;
  height: auto;
}

#userIconImage{
  position: fixed;
  bottom: 430px;
  right: 80px;
  width: 60px;
  height: auto;
}

.singup-title{
  height: 50px;
  background-color: white;
  color: #6d6d6d;
  padding-left: 120px;
  padding-top: 20px;
  margin-bottom: 0%;
  font-size: 25px;
}

.signup-form {
display: flex;
justify-content: center;
align-items: flex-start;
gap: 20px; 
}   

.signup-form form {
background-color: white;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px; 
padding: 20px;
}

.form-group {
display: flex;
flex-direction: column;
margin-bottom: 20px;

}

.form-group:nth-child(4),
.form-group:nth-child(6) {
grid-column: 2;
}

button.submit-button {
background-color: #0d47a1;
color: white;
margin-top: 10px;
grid-column: 2;
height: 50px;
}

label {
margin-bottom: 5px;
}

input, select, button {
padding: 8px;
font-size: 1em;
width: 100%;
box-sizing: border-box;
}