body {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grey-block {
  background-color: #6d6d6d;
  width: 100%;
  max-width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px;
  box-sizing: border-box;
}

.grey-block .column-container {
  display: flex;
  flex-direction: column;
}

#caafi-logo{
  padding-left: 45px;
  width: 150px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#uv-title{
  position: absolute;
  top: 0;
  right: 45px;
  width: 200px;
  height: auto;
}

#userIcon {
  position: absolute;
  bottom: 0;
  right: 45px; 
  width: 200px;
  height: auto;
}

.singup-title{
  height: 50px;
  background-color: white;
  color: #6d6d6d;
  padding-left: 120px;
  padding-top: 20px;
  margin-bottom: 0%;
  font-size: 25px;
}

.signup-form {
display: flex;
justify-content: center;
align-items: flex-start;
}   

.signup-form div.form {
background-color: white;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 15px; 
padding: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;

}

.signup-form input,
.signup-form select {

  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  height: 40px;
  width: 400px;
}


.form-group:nth-child(4),
.form-group:nth-child(6) {
  grid-column: 2;
}

button.submit-button {
  background-color: #0d47a1;
  color: white;
  grid-column: 2;
  height: 40px;
  margin-top: 78px;
  margin-left: 34px;
}

label {
  margin-bottom: 5px;
}


.registro-exitoso {
  background-color: white;
  color: black;
  padding: 10px;
  margin-top: 10px;
}